In [26]:
cities = [
    'Sydney', 'Melbourne', 'Brisbane', 'Perth', 'Adelaide', 'Hobart', 'Canberra', 'Darwin'
]
print(cities)

['Sydney', 'Melbourne', 'Brisbane', 'Perth', 'Adelaide', 'Hobart', 'Canberra', 'Darwin']

In [27]:
print(cities[1])
print(cities[-1])

Melbourne
Darwin

In [28]:
print(cities[4:7]) # first element inclusive, second eclusive

['Adelaide', 'Hobart', 'Canberra']

In [29]:
print(cities[4:])

['Adelaide', 'Hobart', 'Canberra', 'Darwin']

In [30]:
print(cities[:4])

['Sydney', 'Melbourne', 'Brisbane', 'Perth']

In [31]:
print(cities[:])

['Sydney', 'Melbourne', 'Brisbane', 'Perth', 'Adelaide', 'Hobart', 'Canberra', 'Darwin']

In [13]:
squares = [1, 4, 9, 16, 25]
print(squares)

del squares[4]
print(squares)

[1, 4, 9, 16, 25]
[1, 4, 9, 16]

In [14]:
squares = [1, 4, 9, 16, 25]
print(squares)

del squares[3:]
print(squares)

[1, 4, 9, 16, 25]
[1, 4, 9]

In [15]:
squares = [1, 4, 9, 16, 25]
print(squares)

squares.append(36)
print(squares)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]

In [21]:
squares = [1, 4, 9, 16, 25, 49]
print(squares)

squares.insert(5, 36)
print(squares)

[1, 4, 9, 16, 25, 49]
[1, 4, 9, 16, 25, 36, 49]

In [25]:
cities = [
    'Sydney', 'Melbourne', 'Brisbane', 'Perth', 'Adelaide', 'Hobart', 'Canberra', 'Darwin'
]
for city in cities:
    print(city, end = ' | ')

Sydney | Melbourne | Brisbane | Perth | Adelaide | Hobart | Canberra | Darwin |

In [35]:
for index in range(len(cities)):
    print(str(index) + ':', cities[index])

0: Sydney
1: Melbourne
2: Brisbane
3: Perth
4: Adelaide
5: Hobart
6: Canberra
7: Darwin

In [39]:
daily_expenses = [12.5, 15, 6];
total_expenses = 0

for expense in daily_expenses:
    total_expenses += expense

print('$' + str(total_expenses))

$33.5

In [40]:
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]

x = 0
y = 0
z = 0

for spend in spendings:
    if spend < 1000.0:
        x += 1
    elif spend >= 1000.0 and spend <= 2500.0:
        y += 1
    elif spend > 2500.0:
        z += 1
    else:
        continue
        
print('Numbers of months with low spendings:', str(x) + ', normal spendings:', str(y) + ', high spendings:', z, end = '.')

Numbers of months with low spendings: 1, normal spendings: 5, high spendings: 6.