In [2]:
# tuples

empty_tuple = ()

one_element_tuple_a = (1, )
one_element_tuple_b = 1,

print(one_element_tuple_a)
print(one_element_tuple_b)

(1,)
(1,)

In [3]:
three_element_tuple = 1, 2, 3
print(three_element_tuple)

(1, 2, 3)

In [6]:
a_tuple = ('Sydney', 'Wollongong')
b_tuple = a_tuple + ('New Castle',)

print(b_tuple)

('Sydney', 'Wollongong', 'New Castle')

In [7]:
a_tuple = (0, 1) * 10
print(a_tuple)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [9]:
users = [
    ('jsmith', 'Sydney', '31', 'John Smith'),
    ('msmith', 'Sydney', '34', 'Mark Smith')
]

for user in users:
    print('\n')
    for elem in user:
        print(elem, end = '  |  ')

jsmith  |  Sydney  |  31  |  John Smith  |

msmith  |  Sydney  |  34  |  Mark Smith  |

In [11]:
first = 5
second= 10
print(first, second)

first, second = second, first
print(first, second)

5 10
10 5